.logoChild {
  position: relative;
  border-radius: var(--br-12xs);
  width: 18px;
  height: 18px;
}
.tree {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.home {
  position: relative;
  text-transform: capitalize;
}
.akarIconschevronDown {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.navLinks,
.productsParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.navLinks {
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--label-medium-600-size);
}
.frame,
.icon {
  overflow: hidden;
  flex-shrink: 0;
}
.frame {
  width: 415px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.search {
  text-transform: capitalize;
}
.forAnything {
  text-transform: lowercase;
}
.searchForAnythingContainer {
  position: relative;
}
.searchBox {
  background-color: var(--color-greenyellow);
  width: 336px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-37xl) var(--padding-xs)
    var(--padding-21xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.shoppingCartIcon,
.userIcon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.userIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.shoppingCartIcon {
  width: 23px;
  height: 27px;
}
.frame1,
.navs {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame1 {
  width: 407px;
  height: 44px;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--gap-29xl);
  font-size: var(--font-size-sm);
  color: var(--primary-black-100);
}
.navs {
  margin: 0;
  position: relative;
  background-color: var(--primary-black-100);
  width: 100%;
  height: 87px;
  padding: var(--padding-xl) var(--padding-110xl) var(--padding-4xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-270xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--night-ghost-text);
  font-family: var(--paragraph-large-500);
}
